.login-container{
  position: center;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-left: 31%;
  margin-right: auto;
}
.login-logo{
  position: center;
  margin-left: -41.5%;
}
.form-group{
  margin: 2%;
}

.login-logo img{
  position: center;
  width: 20%;
  margin-top: 19%;
  background: #282726;
  border-radius: 4.5rem;
  padding: 5%;
}
.login-form-1{
  padding: 9%;
  background:#282726;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
  text-align: center;
  margin-bottom:12%;
  color:#fff;
}

.btnSubmit{
  font-weight: 600;
  width: 50%;
  color: #282726;
  background-color: #fff;
  border: none;
  border-radius: 1.5rem;
  padding:2%;

}
a{
  text-decoration: none;
}
.btnForgetPwd{

  color: #fff;
  font-weight: 600;
  text-decoration: none;
  padding:2%;
  margin-top:12%;
}
.btnForgetPwd:hover{
  text-decoration:none;
  color:#fff;
  margin-top:12%;

}
