
<form style="overflow: hidden; "[formGroup]="KorisnickaForma">
<div class="container login-container" xmlns="http://www.w3.org/1999/html" >
  <div class="row" >

    <div class="col-md-12 login-form-1" style="width: 70% ;margin-left: 15%">
      <div class="mb-header">

      </div>
      <a   routerLink="/pocetna"> <img id="logo" src="assets/img/Logo.png" ></a>
      <div class="form-group" style="display: flex">
        <label class="label" style="color: white ; margin-right: 1%;margin-top: 1.5% ; font-size: 16px" asp-for="Ime" >Ime i prezime:</label>
        <input type="text" class="form-control"  placeholder="Ime  " value="" style="width: 40%; margin-right: 1%"  formControlName="ime" />
        <input type="text" class="form-control"  placeholder="Prezime " value=""  style="width: 40%" formControlName="prezime" />
      </div>
      <div class="form-group">

      </div>
      <div class="form-group" style="display: flex" >
        <label class="label" style="color: white ; margin-right: 1%;margin-top: 1.5% ; font-size: 16px" asp-for="Ime" >Drzava:</label>
       <select  style="width: 44%; margin-left: 3%" class="form-control" placeholder="Drzava" formControlName="drzavaID"  >
        <option *ngFor="let d of getDrzave()" value="{{d.id}}">{{d.opis}}</option>
       </select>
        <label class="label" style="color: white ;margin-left: 2%; margin-right: 1%;margin-top: 1.5% ; font-size: 16px" asp-for="Ime" >Spol:</label>
        <select  style="width: 31%; margin-left: 2%" class="form-control" placeholder="Spol"  formControlName="spol" >
          <option value="M" > Muško  </option>
          <option value="Z"> Žensko </option>
        </select>
      </div>

      <div class="form-group" style="display: flex" >
        <label class="label" style="color: white ; margin-right: 1%;margin-top: 1.5% ; font-size: 16px" asp-for="Ime" >Email:</label>
        <input type="text" style="margin-left: 4% ;margin-right: 3% " class="form-control"  placeholder="Korisnicko ime " formControlName="korisnickoIme" value="" />
      </div>
      <div class="form-group" style="display: flex" >
        <label class="label" style="color: white ; margin-right: 1%;margin-top: 1.5% ; font-size: 16px" asp-for="Ime" >Lozinka:</label>
        <input type="text" style="margin-left: 2%; margin-bottom: 6%;margin-right: 3%" class="form-control"  placeholder="lozinka " formControlName="lozinka" value="" />
      </div>
      <div class="form-group">
        <button  class="btnSubmit" type="submit" (click)="onFormSubmit()" >Registruj se</button>
      </div>
      <div class="form-group" style="text-align: center">
        <a routerLink="/login"class="btnForgetPwd">Registrovani ste? -Prijava </a>
      </div>
    </div>

  </div>
</div>
</form>
<footer class="py-2 bg-dark">
  <div class="columns">
    <div class="column">
      <div class="info-card">
        <img src="assets/img/Ikone/lokacija.png" width="62" />
        <div>
          <a href="/pocetna">NAŠE POSLOVNICE</a>
          <p> Dođite u najbližu poslovnicu ili nas pozovite putem besplatnog broja. <br /> <a href="tel:061550134"> 061/550-134 </a> </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="info-card">
        <img src="assets/img/Ikone/katalog_icon.png" width="62" />
        <div >
          <a href="">KATALOG</a>
          <p> Omogućili smo pregled narudžbi i raznih artikala bez potrebe dolaska u poslovnicu u samo par klikova! </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="info-card">
        <img src="assets/img/Ikone/IT_Solutions.png" width="62" />
        <div>
          <a href="">SLOŽENA RJEŠENJA</a>
          <p> Za složena IT rjesenja i bilo kakva pitanja pozovite naš broj ili pošaljite mail na <a href="mailto:prodaja@itoprema.ba">prodaja@itoprema.ba</a> </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container"><p class="m-0 text-center "> &copy; </p></div>
</footer>


