
<div class="conteiner">

  <a style="margin-left:93%; margin-top:120px;" title="Nazad" asp-area="" asp-controller="Home" asp-action="Index" ><img class="back" routerLink="/pocetna" src="assets/img/back.png" /></a>
  <div class="conteiner2">
    <div class="picture">
      <div>
        <figure class="image is-3by2">
          <img class="card-image" src="assets/img/pc1.jpg" />
        </figure>
      </div>

    </div>
    <div class="table">

      <table>
        <tr>
          <td><b>Naziv proizvoda:</b> <br /></td>
        </tr>
        <tr>
          <td><b>Kategorija:</b> admwaof a </td>
        </tr>
        <tr>
          <td><b>Proizvođač:</b> blbabalbabal</td>
        </tr>
        <tr>
          <td><b>Cijena:</b> nawcmawpwamwap </td>
        </tr>


      </table>
    </div>

  </div>

  <div class="opis">
    <tr>
      <td><b>Opis proizvoda:</b> <br />Opis proizvodaaaa  U književnoj teoriji, tekst je bilo koji objekt koji se može "čitati," bilo da je objekt rad književnosti, ulični znak, raspored zgrada bloka grada ili stilovi oblačenja. To je povezan skup znakova koji odašilje neku vrstu informativne poruke. Ovaj skup simbola razmatra se u smislu sadrž</td>
    </tr>
  </div>
  <a style="margin-left:93%; margin-top:120px;" title="Nazad" asp-area="" asp-controller="Home" asp-action="Index" ><img class="back" routerLink="/pocetna" src="assets/img/back.png" /></a>

</div>
