<div class="poravnaj">

  <p></p>

  <table id="myTable" >
    <tr class="header">
      <th>Naziv oglasa</th>
      <th>Sadrzaj</th>
      <th>Broj pozicija</th>
      <th>Lokacija</th>
      <th>Datum objave
      <th>Datum isteka</th>
      <th>Autor oglasa</th>
      <th>Aktivan</th>
      <th>Akcija</th>
    </tr>
    <tbody>
    <tr *ngFor="let p of getProizvodiPodaci()">
      <td>{{p.naslov}}</td>
      <td>{{p.sadrzaj}}</td>
      <td>{{p.brojPozicja}}</td>
      <td>{{p.lokacija}}</td>
      <td>{{p.datumObjave}}</td>
      <td>{{p.datumIsteka}}</td>
      <td>{{p.administrator.ime}}</td>
      <td>{{p.aktivan}}</td>
      <td>
        <img src="assets/img/Ikone/trash.png" width="10%" (click)="obrisi(p)">
        <img src="assets/img/Ikone/edit.png" width="10%" (click)="detalji(p)">
      </td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="btnNovi()">Dodaj novi oglas</button>
</div>

<app-oglas-edit [urediOglas]="odabraniOglas"></app-oglas-edit>
