<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand"  routerLink="/pocetna"> <img id="logo" src="assets/img/WhitePC1.png" ></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  routerLink="/pocetna" >Početna</a>
        </li>
        <li  class="nav-item">
          <a class="nav-link active" *ngIf="loginInfo().isPermisijaAdmin" aria-current="page"  routerLink="/administrator">Admin</a>
        </li>
        <li class="dropdown"><a class="nav-link">
          <a class="nav-item">Proizvodi </a>
          <div class="dropdown-content" id="tekst">
            <a href="/proizvodi">Svi proizvodi</a>
            <a href="#">Maticne ploce</a>
            <a href="#">Procesori</a>
            <a href="#">Graficke kartice</a>
            <a href="#">RAM</a>
            <a href="#">Monitori</a>
            <a href="#">Ostalo</a>

          </div>
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"  routerLink="/oglasi">Oglasi</a></li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/postovi">Postovi</a>
        </li>

      </ul>
        <!--<div style="margin-right: 110px; margin-left: 120px"> </div>-->
        <button  *ngIf="loginInfo().isPermisijaKorisnik"  routerLink="/korpa" class="btn btn-outline-light" type="submit">
          <i  class="bi-cart-fill me-1"></i>
          Korpa
        </button>


        <button *ngIf="loginInfo().isLogiran == false"  id="registracija" routerLink="/registracija" class="btn btn-success"  type="submit" >
          Registracija
        </button>
        <button  *ngIf="loginInfo().isLogiran == false" class="btn btn-danger"  type="submit" routerLink="/login" >
          Prijava
        </button>

        <li *ngIf="loginInfo().isLogiran" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarLogiraniKorisnikLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             {{loginInfo().autentifikacijaToken.korisnickiNalog.korisnickoIme}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarLogiraniKorisnikLink">
            <li><a class="dropdown-item" routerLink="/pocetna">Postavke profila</a></li>
            <li><a class="dropdown-item" routerLink="/narudzbe">Moje narudzbe</a></li>
            <li><a class="dropdown-item" (click)="logoutButton()">Odjava</a></li>
          </ul>
        </li>

    </div>
  </div>
</nav>

<div class="sidebar" *ngIf="loginInfo().isPermisijaAdmin">
  <a class="active" href="#home">Pocetna</a>
  <button  class="btn1 default">Statistika</button>
  <button  class="btn1 default" routerLink="/proizvodi">Proizvod</button>
  <button  class="btn1 default" (click)="btnDodajProizvodjaca()" >Proizvodjac</button>
  <button  class="btn1 default">Oglasi</button>
  <button  class="btn1 default">Postovi</button>
  <button  class="btn1 default" (click)="btnDodajKategoriju()" >Kategorija</button>
  <button  class="btn1 default" >Narudzbe</button>
  <button  class="btn1 default">Korisnicki racuni</button>
</div>
<app-administrator-proizvodjac [urediProizvodjaca] = "noviProizvodjac" ></app-administrator-proizvodjac>
<app-administrator-kategorija  [urediKategoriju] ="novaKategorija" ></app-administrator-kategorija>
<app-administrator-postovi [urediPost]="noviPost"></app-administrator-postovi>


<router-outlet></router-outlet>
