<div class="poravnaj">
<p></p>
  <table id="myTable" >
    <tr class="header">
      <th>Naslov posta</th>
      <th>Sadrzaj</th>
      <th>Akcija </th>
      <th>Autor posta</th>
    </tr>
    <tbody>
    <tr *ngFor="let p of getPostPodaci()">
      <td>{{p.naslov}}</td>
      <td>{{p.sadrzaj}}</td>
      <td>{{p.autorPosta.korisnickoIme}}</td>
      <td>
        <img src="assets/img/Ikone/trash.png" width="10%" (click)="obrisi(p)">
        <img src="assets/img/Ikone/edit.png" width="10%" (click)="detalji(p)">
      </td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="btnNovi()">Dodaj novi post</button>
</div>

<app-post-edit [urediPost]="odabraniPost"></app-post-edit>
