

<div class="container login-container">

    <div class="col-md-12 login-form-1">
      <a   routerLink="/pocetna"> <img id="logo" src="assets/img/Logo.png" ></a>
      <div class="form-group">
        <input type="text"  id="txtKorisnickoIme" [(ngModel)]="txtKorisnickoIme" class="form-control" placeholder="Korisnicko ime " value="" />
      </div>
      <div class="form-group">
        <input type="password" id="txtLozinka" [(ngModel)]="txtLozinka" class="form-control" placeholder="Lozinka" value="" />
      </div>
      <div class="form-group" id="loginbtn">
        <input (click)="btnLogin()" type="submit" class="btnSubmit" value="Prijavi se " />


      <div class="form-group">
        <a  routerLink="/registracija" class="btnForgetPwd">Zaboravili ste lozinku?</a>
      </div>
      </div>
    </div>

</div>
<footer class="py-2 bg-dark">
  <div class="columns">
    <div class="column">
      <div class="info-card">
        <img src="assets/img/Ikone/lokacija.png" width="62" />
        <div>
          <a href="/pocetna">NAŠE POSLOVNICE</a>
          <p> Dođite u najbližu poslovnicu ili nas pozovite putem besplatnog broja. <br /> <a href="tel:061550134"> 061/550-134 </a> </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="info-card">
        <img src="assets/img/Ikone/katalog_icon.png" width="62" />
        <div>
          <a href="">KATALOG</a>
          <p> Omogućili smo pregled narudžbi i raznih artikala bez potrebe dolaska u poslovnicu u samo par klikova! </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="info-card">
        <img src="assets/img/Ikone/IT_Solutions.png" width="62" />
        <div>
          <a href="">SLOŽENA RJEŠENJA</a>
          <p> Za složena IT rjesenja i bilo kakva pitanja pozovite naš broj ili pošaljite mail na <a href="mailto:prodaja@itoprema.ba">prodaja@itoprema.ba</a> </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container"><p class="m-0 text-center "> &copy; </p></div>
</footer>
