<div class="poravnaj">
<p></p>

<table class=" myTable" >
  <tr class="header">
    <th>Datum kreiranja</th>
    <th>Narucioc</th>
    <th>Naziv dostave</th>
    <th>Aktivna</th>
    <th>Potvrdjena</th>
    <th>Akcija</th>
  </tr>
  <tbody>

  <tr *ngFor="let n of getNarudzbaPodaci()">
    <td>{{n.datumKreiranja}}</td>
    <td>{{n.narucioc.ime}}</td>
    <td>{{n.dostavljac.nazivDostave}}</td>
    <td>{{n.aktivna}}</td>
    <td>{{n.potvrdjena}}</td>
    <td>
      <button class="btn btn-danger" (click)="obrisi(n)">Obrisi</button>
      <button class="btn btn-primary" (click)="detalji(n)">Detalji</button>
    </td>
  </tr>
  </tbody>
</table>
<p *ngIf="odabranaNarudzba !=null">Aktivna | Potvrdjena
  <input [(ngModel)]="odabranaNarudzba.aktivna">
  <input [(ngModel)]="odabranaNarudzba.potvrdjena">
  <button (click)="snimi()">Snimi</button>
</p>
<div>
  <button class="btn btn-primary" (click)="btnNovi()">Nova narudzba</button>
</div>



</div>
<app-narudzba-edit  [urediNarudzbu]="odabranaNarudzba" ></app-narudzba-edit>
