
<br><h3 align="center">Trenutno aktivni oglasi</h3><br>




<table class="table "  style="padding-bottom: 2%">
  <tr style="background: rgba(166,164,164,0.89)">
    <th>Naslov</th>
    <th>Sadrzaj</th>
    <th>Broj pozicija</th>
    <th>Lokacija</th>
    <th>Datum objave</th>
    <th>Datum isteka</th>
    <th>Prijava na email</th>
  </tr>
  <tbody>
  <tr *ngFor="let o of getOglasiPodaci()" >
    <td>{{o.naslov}}</td>
    <td>{{o.sadrzaj}}</td>
    <td>{{o.brojPozicja}}</td>
    <td>{{o.lokacija}}</td>
    <td>{{o.datumObjave | date:'MM.dd.yyyy'}}</td>
    <td>{{o.datumIsteka | date:'MM.dd.yyyy'}}</td>
    <td>{{o.cvEmail}}</td>

  </tr>
  </tbody>
</table>

<footer class="py-2 bg-dark">
  <div class="columns py-2 bg-dark">
    <div class="column">
      <div class="info-card">
        <img src="assets/img/Ikone/lokacija.png" width="62" />
        <div>
          <a href="/pocetna">NAŠE POSLOVNICE</a>
          <p> Dođite u najbližu poslovnicu ili nas pozovite putem besplatnog broja: <a href="tel:061550134"> 061/550-134 </a> </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="info-card">
        <img src="assets/img/Ikone/katalog_icon.png" width="62" />
        <div>
          <a href="">KATALOG</a>
          <p> Omogućili smo pregled narudžbi i raznih artikala bez potrebe dolaska u poslovnicu u samo par klikova! </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="info-card">
        <img src="assets/img/Ikone/IT_Solutions.png" width="62" />
        <div>
          <a href="">SLOŽENA RJEŠENJA</a>
          <p> Za složena IT rjesenja i bilo kakva pitanja pozovite naš broj ili pošaljite mail na <a href="mailto:prodaja@itoprema.ba">prodaja@itoprema.ba</a> </p>
        </div>
      </div>
    </div>
  </div>

</footer>


<app-oglasi-edit [urediOglas]="odabraniOglas"></app-oglasi-edit>
